
@{
    ViewBag.Title = "ListBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Admin</a><i class="fa fa-angle-right"></i>Quản lý sách</li>
</ol>


<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            
            <table id="table">
                <thead>
                    <tr>
                        <th>Hình</th>
                        <th>Tên sách</th>
                        <th>Giá</th>
                        <th>Tác giả</th>
                        <th>Loại sách</th>
                       
                        <th>Tồn kho</th>
                        
                        
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in ViewBag.ListBook)
                    {
                    <tr>
                        <td><img src="~/UploadedFiles/@book.Image" width="70" height="70" /></td>
                        <td>@book.Name</td>
                        <td>@book.Price</td>
                        <td>@book.Author.Name</td>
                        <td>@book.BookType.Name</td>
                        <td>@book.Count</td>
                        
                        
                        <td>
                            <a class="btn btn-success" href="~/Book/AddCount/@book.ID">Nhập hàng</a>
                            <a class="btn btn-warning" href="~/Book/Edit/@book.ID">Sửa</a>
                            <a class="bg-danger dark btn btn-hover" href="~/Book/Delete/@book.ID">Xóa </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




